
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    margin: 0 auto;
}

#navbar {
    background-color:#8bcedd;
    margin: 10px;
    height: 35px;
    border-radius: 5px;
}

a {
  color: #FFFFFF;
  transition: color border background;
  transition-delay: .5s;
/*    transition-timing-function: ease-out;*/
}

a:hover {
  color: #99DDDD;
  /* text-decoration: none;
  opacity: .8;
  border: solid 2px purple; */
 }

.lnk {
  color: black;
}
.lnk:hover {
  color: blue;
}

section {
  margin: 0 6%;
}

.header {
  display: flex;
  font-weight: bold;
  font-size: 1.1em;
  flex-wrap: wrap;
  margin-top: 4px;
}

#name {
  font-size: 1.2em;
  font-weight: bolder;
}
.hl {
  text-align: left;
  width: 50%;
}

.hr {
  text-align: right;
  width: 50%;
}

header h1 {
  text-align: center;
  margin: 2rem 0;
}

h2 {
  font-weight: bold;
  border-bottom: 1px solid black;
}

h1, h4, h5 {
  font-weight: bold;
}

.main > div {
  margin-bottom: 3em;
}

.expertise >ul {
  list-style-image: url("../images/sharp-send-24px.svg");
}

.material-icons {
  padding-right: 12px;
}

.exp {
  display: flex;
}
.expl {
  flex-grow: 6;
}

.expr {
  text-align: right;
}

footer {
  background: #2B2D42;
  color: #8D99AE;
  padding: 1rem;
  text-align: center;
}

@media(max-width: 600px) {
  section {
    margin: 0;
  }
  
  .header {
    display: flex;
    font-weight: bold;
    font-size: .9em;
    flex-wrap: wrap;
    margin-top: 4px;
  }
  
  #name {
    font-size: 1.0em;
    font-weight: bolder;
  }  
}